@import "variables";
/*header*/
    nav{
        ul{
            list-style-type: none;
            text-align: right;
            display: flex;
            align-items: stretch;
            flex-wrap: wrap;
            align-content: center;
        }

        li{
            font-family: 'Chakra Petch', sans-serif;
            font-weight: bold;
            background-color: #FF0F7B;
            border-radius: 0.5rem;
            border-width: 1rem;
            padding: 0.3rem;
            margin: 0.3rem;
            cursor: pointer;
            &:hover{
                color: #FFFFFF
            }                 
        }

        a{
            text-decoration: none;
            text-transform: initial;
            font-size: 1.2rem;
            padding: 0.5rem;
            color: #FFFFFF;
        }

        button{
            span{
                color: #FFFFFF;
            }
        }            
    }