.header__navbar{
    ul{
        padding: 2rem;
        list-style-type: none;
        text-align: right;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        margin-left: 2rem;
    }

    li{
        display: inline-block;
        font-family: 'Chakra Petch', sans-serif;
        font-weight: bold;
        background-color: #FF0F7B;
        border-radius: 0.5rem;
        border-width: 1rem;
        padding: 0.5rem;
        margin: 0.3rem;
        cursor: pointer;
    }

    a{
        text-decoration: none;
        color: #FFFFFF;
        text-transform: initial;
        font-size: 1.2rem;
        background-color: #FF0F7B;
        padding: 0.5rem;
    }
}
    /*registro*/

    .fieldset__input{
        nombre{
            font-family: 'Chakra Petch', sans-serif;
            margin: 0.5rem; 
        }

        apellido{
            text-align: left;
            font-family: 'Chakra Petch', sans-serif;
            margin: 0.5rem;
        }

        email{
            text-align: left;
            font-family: 'Chakra Petch', sans-serif;
            margin: 0.5rem;
        }

        checkbox{
            color: #f6e0de;
            text-align: right;
            display: grid;
        }

    }
    .fieldset{
        p{
            color: #f6e0de;
            text-align: right;
            font-family: 'Chakra Petch', sans-serif;
            margin: 1rem;
        }
    }

    .chalamet-img__registro{
        height: 360px;
        width: 640px;
        display: flex;
    }