@import "contenido";
@import "header";
@import "footer";

    /*index*/
    .h6_demi{
        font-family: $font;
        text-align: center;
        color: $color-secundario;
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    #div__card--index{
        margin: 1rem;
    }

    .card{
        
        img{
            &:hover{
                border-color: $color-principal;
                cursor: pointer;
            } 
         }
    }

    /*registro*/
    .legend{
        color: $color-secundario;
        text-align: center;
        font-family: $font;
        font-weight: bold;
        padding: 1rem;
        font-size: 2rem;
    }

    .fieldset__input{
        nombre{
            font-family: $font;
            margin: 0.5rem; 
        }

        apellido{
            text-align: left;
            font-family: $font;
            margin: 0.5rem;
        }

        email{
            text-align: left;
            font-family: $font;
            margin: 0.5rem;
        }

        checkbox{
            color: $color-secundario;
            text-align: right;
            display: grid;
        }

    }
    .fieldset{
        p{
            color: $color-secundario;
            text-align: right;
            font-family: $font;
            margin: 1rem;
        }
    }

    .chalamet-img__registro{
        height: 20rem;
        width: 22.8rem;
        display: flex;
    }

    /*contacto*/
    .img-fluid{
        margin-right: 1rem;
        height: 30rem;
        width: auto;
        border: 2px outset;
        border-radius : 10px 20px 30px 40px;
        border-color: $color-principal;
    }
    .img__demi__fluid{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1rem;
        margin-top: 2rem;
        align-items: center;
        img{
            &:hover{
                background-color: $color-principal;
            }
        }
    }

    /*tienda*/
    .h6_demi--tienda{
        font-family: $font;
        text-align: center;
        color: $color-secundario;
        font-size: 3rem;
        margin-right: 1rem;
        background-image: linear-gradient(to right, $color-principal, $backgroud-color);
    }

    .div__img--lentes{
        display: flex;
        img{
           &:hover{
               border-color: $color-principal;
           } 
        }
        
    }
    .div__card{
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;

        a{
            background-color: $backgroud-color;
            color: #FFFFFF;
            border: $color-principal;
            border-radius: 0.5rem;
            border-width: 1rem;
            padding: 0.5rem;
            font-family: $font;
            font-weight: bold;
            animation-name: btn__btn-primary--animation;
            animation-duration: 4s;
            animation-iteration-count: infinite;  
        }
    }

    .card{
        height: 15rem;
        width: 19rem;
        padding: 0.3rem;
        border: 2px outset;
        border-radius : 10px 20px 30px 40px;
        color: $color-secundario;
        border-color: $color-principal;
        background-image: linear-gradient(to right, $color-principal, $backgroud-color);

        h5{
            color: $color-secundario;
        }

        p{
            font-family: $font;
        }
    }

    .producto__destacado{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2rem;
        font-family: $font;
        color: #d4ccc9;
        justify-content: center;

        h2{
            color: $color-principal;
        }

        img{
            height: 20rem;
            width: 23rem;
        }
    }

    .btn2__primary{
        background-color: $backgroud-color;
        color: #FFFFFF;
        border: $color-principal;
        border-radius: 0.5rem;
        border-width: 1rem;
        padding: 0.5rem;
        font-family: $font;
        font-weight: bold;
        animation-name: btn__btn-primary--animation;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .div__btn--comprar{
        display: flex;
        padding: 1rem;
        justify-content: center;
        justify-items: end;

        button{
            color: $color-principal;
            border: $color-principal;
            border-radius: 0.5rem;
            padding: 0.5rem;
            font-family: $font;
            font-weight: bold;
            cursor: pointer;
            animation-name: btn__comprar-animation;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
    }

    #img-fluid--2{
        margin: auto;
    }

    /*nosotras*/
    .div__nosotras--h1yp{

        h1{
            color: $color-principal;
            text-align: center;
            font-family: $font;
            font-weight: bold;
            padding: 2rem;
        }
    }

    .div__nosotras{
        div{
            a{
                img{
                    &:hover{
                        border-color: $color-principal;
                        transform: scale(1.2);
                    }
                }
            }
        }
    }