@import "variables";
@import "maps";
@import "header";
@import "footer";
@import "bucles";
@import "extend";
@import "mixin";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------EMPIEZA INDEX----------------*/

.container-fluid{
    padding: 0.5rem;
}

.alert{
    color: $background-color;
    background-color: $color-secundario;
    border: $color-principal;
    margin-top: 1rem;
}

body{
    background-color: $background-color;
}

header{
    display: flex;
}

.h1{
    color: $color-principal;
    text-align: center;
    font-family: $font;
    font-weight: bold;
}

.img__flecha{
    display:block;
    margin:auto;
}

.btn__productos{
    background-color: $color-principal;
    color: $color-secundario;
    display:block;
    margin:auto;
    border: $color-principal;
    border-radius: 0.5rem;
    border-width: 1rem;
    padding: 0.5rem;
    font-family: $font;
    font-weight: bold;
}

.carousel-slide{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    align-content: center;
}

.carousel-inner{
    display: flex;
    height: 360px;
    width: 640px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.carousel{
    display: flex;
    justify-content: center;
}

/*-----------------EMPIEZA FOOTER/CONTACTO----------------*/

.form__textarea:focus-within{
    background-color: #0f102b;
    color: #FFFFFF;
}

.main__div__a img:hover{
    transform: scale(1.2);
}

.h2--contactate{
    text-align: left;
    color: $color-secundario;
    padding: 1rem;
    font-family: $font;
}

.main{
    background-color: $color-principal;
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.img__correo{
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 1rem;
}

.main__div__a{
    margin: 1rem;
    display: flex;
    align-items: center;
    
}

.main__div__a--instagram{
    display: flex;
    justify-items: end;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
    
}

.main__div__a--youtube{
    display: flex;
    height: 3rem;
    justify-content: flex-end;
    align-items: center;

}

.form__textarea{
    font-family: $font;
    margin: 1rem;
    padding: 0.5rem;
    border: $background-color;
    border-radius: 0.5rem;
    border-width: 1rem;
}   

.h3__section{
    color: $color-secundario;
    padding: 1rem;
    font-family: $font;
}

.div__ubicacion--tel{
    padding: 1rem;
    color: $color-secundario;
    font-weight: lighter;
    font-family: $font;
    background-color: $color-principal;
    text-align: right;
}

.logo{
    width: 300px;
    height: 100px;
    padding: 0.2rem;
    margin: 1rem;
}

.form__button--main{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

/*-----------------TERMINA FOOTER/CONTACTO----------------*/


/*-----------------EMPIEZA REGISTRO----------------*/

#div__registro{
    display: grid;
    grid-template-areas: "aside form"
    "aside form";
    grid-template-rows: 1fr;
    grid-template-columns: 3% auto;
    align-items: center;
}

.fieldset__input--nombre{
    border: $background-color;
    border-radius: 0.5rem;
    border-width: 1rem;
    padding: 0.5rem;
    color: $background-color;
}

.fieldset__input--apellido{
    border: $background-color;
    border-radius: 0.5rem;
    border-width: 1rem;
    padding: 0.5rem;
    color: $background-color;
}

.fieldset__select--nacionalidad{
    border: $background-color;
    border-radius: 0.5rem;
    border-width: 1rem;
    padding: 0.5rem;
    color: $background-color;
}

.fieldset__input--email{
    border: $background-color;
    border-radius: 0.5rem;
    border-width: 1rem;
    padding: 0.5rem;
}

.img__lentes--registro{
    height: 24.7rem;
    width: 24.8rem;
}

aside#aside__h1--registro{
    grid-area: aside__h1--registro;
    display: grid;
    grid-template-columns: 50%;
    justify-items: start;
    justify-content: start;
}

form#form__datos{
    grid-area: form__datos;
    display: grid;
    justify-items: end;
    justify-content: end;
    grid-template-columns: 50%;
}

.h1__registro{
    color: $color-secundario;
    text-align: left;
    font-family: $font;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 0.5rem;
    margin-right: 6rem;
}

.fieldset{
    padding: 1rem;
    display: grid;
    justify-items: end;
    justify-content: space-around;
    background-color: $color-principal;
    background: rgb(209,178,176);
    background: linear-gradient(90deg, rgba(209,178,176,1) 0%, rgba(0,1,35,1) 100%);
}


.fieldset__label--nombre{
    color: $color-secundario;
    font-family: $font;
    font-weight: bold;
    padding: 1rem;
    display:block;
    text-align: right;
}

.fieldset__label--apellido{
    color: $color-secundario;
    font-family: $font;
    font-weight: bold;
    padding: 1rem;
    display:block;
    text-align: right;
}

.fieldset__label--nacionalidad{
    color: $color-secundario;
    font-family: $font;
    font-weight: bold;
    padding: 1rem;
    display:block;
    text-align: right;
}

.fieldset__select--nacionalidad{
    text-align: left;
    font-family: $font;
    margin: 0.5rem;
    color: $background-color;
}

.fieldset__label--email{
    color: $color-secundario;
    font-family: $font;
    font-weight: bold;
    padding: 1rem;
    display: block;
    text-align: right;
}

.fieldset__label--acepto{
    color: #FFFFFF;
    text-align: left;
    font-family: $font;
    font-weight: bold;
    padding: 1rem;
    display:block;
    text-align: right;
}

.form-check-label{
    color: #FFFFFF;
}

legend{
    animation-name: legend-animation;
    animation-duration: 5s;
}

@keyframes legend-animation {
    0%{background-color: $background-color; width: 2rem;}
    40%{background-color: $background-color;}
    100%{background-color: $background-color;}
}


/*-----------------TERMINA REGISTRO----------------*/

/*-----------------EMPIEZA TIENDA----------------*/

.div__img--lentes img:hover{
    transform: scale(1.1);
}

@keyframes btn__btn-primary--animation {
    0%{background-color: $background-color;}
    40%{background-color: $color-principal;}
    100%{background-color: $background-color;}
}

.card-header, .card-body, .card-text{
    color: #FFFFFF;
}

#inicio{
    color: $color-secundario;
    text-align: center;
    font-family: $font;
    font-weight: bold;
    padding: 1rem;
    background-color: $color-principal;
    margin-top: 3rem;
    margin-bottom: 1rem;
    
}

.div__productos--producto1{
    padding: 0.5rem;
    color: #FFFFFF;
    font-weight: lighter;
    font-family: $font;
    text-align: center;
}

.div__productos--producto2{
    padding: 0.5rem;
    color: #FFFFFF;
    font-weight: lighter;
    font-family: $font;
    text-align: center;
}

.div__productos--producto3{
    padding: 0.5rem;
    color: #FFFFFF;
    font-weight: lighter;
    font-family: $font;
    text-align: center;
}

.producto__destacado{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    font-family: $font;
    color: #d4ccc9;
    justify-content: center;
}


.div__producto--destacado{
    display: flex;
    margin: 1rem;
}

.div__a--subir{
    font-family: $font;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 0.5rem;
    border-width: 1rem;
    padding: 0.5rem;
    background-color: #FFFFFF;
}

@keyframes btn__comprar-animation {
    0%{background-color: #FFFFFF;}
    40%{background-color: $background-color;}
    80%{background-color: $background-color;}
    90%{background-color: #0f102b;}
    100%{background-color: #FFFFFF;}
}

.div__img--lentes{
    display: flex;
}

.img__tienda{ 
    height: 20rem;
    width: 20rem;
}

.producto--oferta{
    color:$color-secundario
}

/*-----------------TERMINA TIENDA----------------*/

/*-----------------EMPIEZA NOSOTRAS----------------*/

.div__img--nosotras img:hover{
    transform: scale(1.2);
}

.h1__nosotras{
    color: $color-principal;
    text-align: center;
    font-family: $font;
    font-weight: bold;
    padding: 2rem;
}

.div__nosotras{
    display: flex;
    margin: 1rem;
}

.div__nosotras--h1yp{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    font-family: $font;
    color: $color-principal;
    justify-content: center;
}

.p__nosotras{
    padding: 2rem;
    color: $color-secundario;
    font-weight: lighter;
    font-family: $font;
    text-align: center;
}


    /*index*/
    .h6_demi{
        font-family: $font;
        text-align: center;
        color: $color-secundario;
        font-size: $font-size;
        margin-bottom: 2rem;
    }

    #div__card--index{
        margin: 1rem;
        padding: 1.8rem;
    }

    .card{
        
        img{
            &:hover{
                border-color: $color-principal;
                cursor: pointer;
            } 
         }
    }

    /*registro*/
    .legend{
        color: $color-secundario;
        text-align: center;
        font-family: $font;
        font-weight: bold;
        padding: 1rem;
        font-size: 2rem;
    }

    .fieldset__input{
        nombre{
            font-family: $font;
            margin: 0.5rem; 
        }

        apellido{
            text-align: left;
            font-family: $font;
            margin: 0.5rem;
        }

        email{
            text-align: left;
            font-family: $font;
            margin: 0.5rem;
        }

        checkbox{
            color: $color-secundario;
            text-align: right;
            display: grid;
        }

    }
    .fieldset{
        p{
            color: $color-secundario;
            text-align: right;
            font-family: $font;
            margin: 1rem;
        }
    }

    .chalamet-img__registro{
        height: 20rem;
        width: 22.8rem;
        display: flex;
    }

    /*contacto*/

    /*tienda*/
    .img__demi__fluid{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1rem;
        margin-top: 2rem;
        align-items: center;
        padding: 2rem;
        img{
            &:hover{
                background-color: $color-principal;
            }
        }
    }

    .h6_demi--tienda{
        font-family: $font;
        text-align: center;
        color: $color-secundario;
        font-size: $font-size;
        margin-right: 1rem;
        background-image: linear-gradient(to right, $color-principal, $background-color);
    }

    .div__img--lentes{
        display: flex;
        img{
           &:hover{
               border-color: $color-principal;
           } 
        }
        
    }
    .div__card{
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        .card-img-top{
            background-color: $background-color;
            color: #FFFFFF;
            border: $color-principal;
            border-radius: 0.5rem;
            border-width: 1rem;
            padding: 0.5rem;
            font-family: $font;
            font-weight: bold;
            animation-name: btn__btn-primary--animation;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            margin-bottom: 1rem;  
        }
    }

    .card{
        h5{
            color: $color-secundario;
        }

        p{
            font-family: $font;
        }
    }

    .producto__destacado{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2rem;
        font-family: $font;
        color: #d4ccc9;
        justify-content: center;

        h2{
            color: $color-principal;
        }

        img{
            height: 20rem;
            width: 23rem;
        }
    }

    .btn2__primary{
        background-color: $background-color;
        color: #FFFFFF;
        border: $color-principal;
        border-radius: 0.5rem;
        border-width: 1rem;
        padding: 0.5rem;
        font-family: $font;
        font-weight: bold;
        animation-name: btn__btn-primary--animation;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }

    .div__btn--comprar{
        display: flex;
        padding: 1rem;
        justify-content: center;
        justify-items: end;

        button{
            color: $color-principal;
            border: $color-principal;
            border-radius: 0.5rem;
            padding: 0.5rem;
            font-family: $font;
            font-weight: bold;
            cursor: pointer;
            animation-name: btn__comprar-animation;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
    }

    #img-fluid--2{
        margin: auto;
    }

    /*nosotras*/
    .div__nosotras--h1yp{

        h1{
            color: $color-principal;
            text-align: center;
            font-family: $font;
            font-weight: bold;
            padding: 2rem;
        }
    }

    .div__nosotras{
        div{
            a{
                img{
                    &:hover{
                        border-color: $color-principal;
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    /*-----------------------------------320px----------------------------------*/
@media (max-width: 480px){
    body{
        background-color: $background-color;
        height: 30rem;
        width: 20rem;
    }

    header{
        display: flex;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 1rem;
        margin-left: 1rem;
        padding: 3rem;
    }

    .header__navbar ul{
        padding: 2rem;
        margin-left: 2rem;
        flex-direction: column;
    }
    
    .header__navbar li{
        font-family: $font;
        font-weight: bold;
        background-color: $color-principal;
        border-radius: 0.5rem;
        border-width: 1rem;
        padding: 0.5rem;
        margin: 0.3rem;
        text-align: center;
    }

    .logo{
        flex-direction: column;
        justify-content: center;
        width: 300px;
        height: 100px;
        padding: 0.1rem;
        margin: 1rem;
    }


    .main__div__a{
        margin-right: 10rem;
        padding-left: 0.3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #FFFFFF;
        border-radius: 0.5rem;
        border-width: 1rem;
        margin-left: 5rem;
    }
    
    .main__div__a--instagram{
        height: 3rem;
    }
    
    .main__div__a--youtube{
        height: 3rem;
    }
    .main{
        background-color: $color-secundario;
        display: flex;
        flex-direction: column;
        padding: 0.2rem;
        align-items: center;
        flex-flow: row nowrap;
        flex-wrap: wrap;
        height: 25rem;
        width: 15rem;
        align-content: center;
        justify-content: center;
        padding-left: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    
    .form__textarea{
        font-family: $font;
        width: 10rem;
        padding: 1rem;
    }
    
    .div__ubicacion--tel{
        color: #FFFFFF;
        font-weight: lighter;
        font-family: $font;
        background-color: $color-principal;
        text-align: center;
    }

    .div{
        display: flex;
    }

    footer{ 
        iframe{
        padding: 0.5rem;
        }
    }

    .h3__section{
        color: #FFFFFF;
        padding: 1rem;
        font-family: $font;
        text-align: center;
    }

    .section__ubicacion{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    form{
        display: grid;
        justify-items: right;
        justify-content: space-around;
        grid-template-columns: 50%;
        margin-left: 2rem;
    }

    aside{
        display: none;
    }

    #inicio{
        color: $color-principal;
        text-align: center;
        font-family: $font;
        font-weight: bold;
        background-color: #FFFFFF;
        font-size: medium;
    }

    .div__inicio{
        display: flex;

    }
    
    .div__img--lentes{
        align-content: center;
        margin: 5rem;
        display: inline-block;
        margin: 1rem;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .img__tienda{
        height: 20rem;
        width: 20rem;

    }

    .div__descuento{
        text-align: center;
    }

    .div__productos{
        flex-direction: column;
        padding: 3rem;
        margin: 1rem;
        display: none;
    }

    #img__lente3{
        margin-left: 0;
    }

    .producto__destacado{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 2rem;
        font-family: $font;
        color: $color-principal;
    }

    .div__producto--destacado{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .fieldset__tienda--p1{
        height: 5.1rem;
        margin-bottom: 1rem;
    }
    
    .fieldset__tienda--p2{
        height: 5rem;
        margin-bottom: 1rem;
    }
    
    .fieldset__tienda--p3{
        height: 3.7rem;
        margin-bottom: 1rem;
    }

    #div__registro{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        align-content: stretch;
    }
        

    aside#aside__h1--registro{
        display: grid;
        grid-template-columns: 50%;
        justify-items: start;
        justify-content: space-around;
        
    }

    form#form__datos{
        grid-area: form__datos;
        display: grid;
        justify-items: end;
        justify-content: space-around;
        grid-template-columns: 50%;
        margin-left: 2rem;
    }

    .div__producto--destacado{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .img__producto--destacado{
        padding: 3rem;
        margin: 1rem;
        
    }

    .img__lentes--registro{
        display: none;
    }

    .h1__registro{
        color: #FFFFFF;
        text-align: center;
        font-family: $font;
        font-weight: bold;
        padding: 0rem;
        margin: 0rem;
        font-size: 1.5rem;
    }

    .card{
        height: 13rem;
        width: 20rem;
        border:2px outset $color-principal;
        border-radius : 10px 20px 30px 40px;
        color: #000;
        background-color: #e1e2fa;
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 2rem;
    }

    .chalamet-img__registro, .chalamet--img{
        height: 20rem;
        width: 20rem;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
        padding: 2rem;
        margin-left: 2rem;
        margin-right: 4rem;
    }

    .fieldset__select--nacionalidad{
        width: 9rem;
    }

    .fieldset__input--apellido{
        width: 10rem;
    }

    .fieldset__input--nombre{
        width: 10rem;
    }

    .fieldset__input--email{
        width: 10rem;
    }

    .fieldset{
        margin: 1rem;
        width: 12rem;
    }

    .form__button--main{
        margin-right: 10rem;
        padding-left: 0.3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 0.5rem;
        border-width: 1rem;
        margin-left: 5rem;
    }

    .img__correo{
        flex-flow: row nowrap;
        justify-content: flex-start;
        margin-right: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 5rem;
    }

    body{
        background-color: $background-color;
        height: 15rem;
        width: 10rem;
    }

    header{
        display: flex;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 1rem;
        margin-left: 1rem;
        padding: 3rem;
    }

    .main{
        background: rgb(255,15,123);
        background: linear-gradient(180deg, rgba(255,15,123,1) 6%, rgba(100,26,195,1) 65%, rgba(80,19,191,1) 80%);
        display: flex;
        flex-direction: column;
        padding: 0.2rem;
        flex-flow: row nowrap;
        height: 32rem;
        width: 22rem;
        justify-content: flex-start;
        padding-left: 4rem;
        margin-left: 0.3rem;
        margin-right: 1rem;
        flex-wrap: wrap;
        align-content: space-around;
    }

    body{
        background-color: $background-color;
        height: 30rem;
        width: 20rem;
    }

    header{
        display: flex;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 1rem;
        margin-left: 1rem;
        padding: 3rem;
    }

    .header__navbar ul{
        padding: 2rem;
        margin-left: 2rem;
        flex-direction: column;
    }
    
    .header__navbar li{
        font-family: $font;
        font-weight: bold;
        background-color: $color-principal;
        border-radius: 0.5rem;
        border-width: 1rem;
        padding: 0.5rem;
        margin: 0.3rem;
        text-align: center;
    }

    .logo{
        flex-direction: column;
        justify-content: center;
        width: 300px;
        height: 100px;
        padding: 0.1rem;
        margin: 1rem;
    }

    header{
        padding: 2rem;
    }

    .main__div__a{
        margin-right: 10rem;
        padding-left: 0.3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #FFFFFF;
        border-radius: 0.5rem;
        border-width: 1rem;
        margin-left: 5rem;
    }
    
    .main__div__a--instagram{
        height: 3rem;
    }
    
    .main__div__a--youtube{
        height: 3rem;
    }
    .main{
        background-color: $color-secundario;
        display: flex;
        flex-direction: column;
        padding: 0.2rem;
        align-items: center;
        flex-flow: row nowrap;
        flex-wrap: wrap;
        height: 25rem;
        width: 15rem;
        align-content: center;
        justify-content: center;
        padding-left: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    
    .form__textarea{
        font-family: $font;
        width: 10rem;
        padding: 1rem;
    }
    
    .div__ubicacion--tel{
        color: #FFFFFF;
        font-weight: lighter;
        font-family: $font;
        background-color: $color-principal;
        text-align: center;
    }

    .div{
        display: flex;
    }

    .iframe{
        padding: 0.5rem;
        margin-left: 3rem;
    }

    .h3__section{
        color: #FFFFFF;
        padding: 1rem;
        font-family: $font;
        text-align: center;
    }

    .section__ubicacion{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    form{
        display: grid;
        justify-items: right;
        justify-content: space-around;
        grid-template-columns: 50%;
        margin-left: 2rem;
    }

    aside{
        display: none;
    }

    #inicio{
        color: $color-principal;
        text-align: center;
        font-family: $font;
        font-weight: bold;
        background-color: #FFFFFF;
        font-size: medium;
    }

    .div__inicio{
        display: flex;

    }
    
    .div__img--lentes{
        align-content: center;
        margin: 5rem;
        display: inline-block;
        margin: 1rem;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .img__tienda{
        height: 20rem;
        width: 20rem;

    }

    .div__descuento{
        text-align: center;
    }

    .div__productos{
        flex-direction: column;
        padding: 3rem;
        margin: 1rem;
        display: none;
    }

    #img__lente3{
        margin-left: 0;
    }

    .producto__destacado{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 2rem;
        font-family: $font;
        color: $color-principal;
    }

    .div__producto--destacado{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .fieldset__tienda--p1{
        height: 5.1rem;
        margin-bottom: 1rem;
    }
    
    .fieldset__tienda--p2{
        height: 5rem;
        margin-bottom: 1rem;
    }
    
    .fieldset__tienda--p3{
        height: 3.7rem;
        margin-bottom: 1rem;
    }

    #div__registro{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        align-content: stretch;
    }
        

    aside#aside__h1--registro{
        display: grid;
        grid-template-columns: 50%;
        justify-items: start;
        justify-content: space-around;
        
    }

    form#form__datos{
        grid-area: form__datos;
        display: grid;
        justify-items: end;
        justify-content: space-around;
        grid-template-columns: 50%;
        margin-left: 2rem;
    }

    .div__producto--destacado{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .img__producto--destacado{
        padding: 3rem;
        margin: 1rem;
        
    }

    .img__lentes--registro{
        display: none;
    }

    .h1__registro{
        color: #FFFFFF;
        text-align: center;
        font-family: $font;
        font-weight: bold;
        padding: 0rem;
        margin: 0rem;
        font-size: 1.5rem;
    }

    .card{
        height: 13rem;
        width: 20rem;
        border:2px outset $color-principal;
        border-radius : 10px 20px 30px 40px;
        color: #000;
        background-color: #e1e2fa;
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 2rem;
    }

    .chalamet-img__registro, .chalamet--img{
        height: 20rem;
        width: 20rem;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
        padding: 2rem;
        margin-left: 2rem;
        margin-right: 4rem;
    }

    .fieldset__select--nacionalidad{
        width: 9rem;
    }

    .fieldset__input--apellido{
        width: 10rem;
    }

    .fieldset__input--nombre{
        width: 10rem;
    }

    .fieldset__input--email{
        width: 10rem;
    }

    .fieldset{
        margin: 1rem;
        width: 12rem;
    }

    .form__button--main{
        margin-right: 10rem;
        padding-left: 0.3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 0.5rem;
        border-width: 1rem;
        margin-left: 5rem;
    }

    .img__correo{
        flex-flow: row nowrap;
        justify-content: flex-start;
        margin-right: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 5rem;
    }

    body{
        background-color: $background-color;
        height: 15rem;
        width: 10rem;
    }

    header{
        display: flex;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 1rem;
        margin-left: 1rem;
        padding: 3rem;
    }

    .main{
        background: rgb(255,15,123);
        background: linear-gradient(180deg, rgba(255,15,123,1) 6%, rgba(100,26,195,1) 65%, rgba(80,19,191,1) 80%);
        display: flex;
        flex-direction: column;
        padding: 0.2rem;
        flex-flow: row nowrap;
        height: 32rem;
        width: 22rem;
        justify-content: flex-start;
        padding-left: 4rem;
        margin-left: 0.3rem;
        margin-right: 1rem;
        flex-wrap: wrap;
        align-content: space-around;
    }

    #div__card--index{
        display: flex;
        margin-top: 2rem;
        width: 20rem;
        padding: 1rem;
        flex-direction: column;
        a{
            background-color: $background-color;
            color: #FFFFFF;
            border: $color-principal;
            border-radius: 0.5rem;
            border-width: 1rem;
            padding: 0.5rem;
            font-family: $font;
            font-weight: bold;
            animation-name: btn__btn-primary--animation;
            animation-duration: 4s;
            animation-iteration-count: infinite;  
        }
    }
    
    .card-body{
        padding: 1rem;
    }
    
    #card-uno{
        padding: auto;
        margin-bottom: 2rem;
    }
    
    #card-dos{
        padding: auto;
        margin-bottom: 2rem;
    }
    
    #card-tres{
        padding: auto;
        margin-bottom: 2rem;
    }
    
    .card-img-top{
        animation-name: btn__btn-primary--animation;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        width: 10rem;
        height: auto;
        background-color: $background-color;
        color: #FFFFFF;
        border: $color-principal;
        border-radius: 0.5rem;
        border-width: 1rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
    
    
    @keyframes card-img-top {
        0%{background-color: $background-color;}
        40%{background-color: $color-principal;}
        100%{background-color: $background-color;}
    }

    /*card tienda*/
    .div__card{
        display: flex;
        flex-direction: column;

        .card{
            margin-bottom: 1rem;
        }
    }

    .img__demi__fluid{
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        align-items: center;
        img{
            height: auto;
            width: auto;
        }
    }

    /*footer*/
    .section__ubicacion{
    
            iframe{
                display: flex;
                padding: 0.5rem;
                margin: 0.5rem;
                justify-content: left;
                
            }
    }

    /*nosotras*/
    .div__nosotras{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    /*registro*/
    form#form__datos{
        grid-area: form__datos;
        display: grid;
        justify-items: end;
        justify-content: end;
        grid-template-columns: 50%;
        justify-items: center;
    }

    aside#aside__h1--registro{
        justify-content: end;
    }

    .legend {
        color: $color-secundario;
        text-align: center;
        font-family: $font;
        font-weight: bold;
        padding: 1rem;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
    }
}

/*--------------------------------768px-----------------------------*/
@media (max-width: 768px){
   
    body{
        background-color: $background-color;
        height: 32rem;
        width: 22rem;
    }

    header{
        display: flex;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 1rem;
        margin-left: 1rem;
        padding: 3rem;
    }

    .header__navbar ul{
        padding: 2rem;
        margin-left: 2rem;
        flex-direction: column;
    }
    
    .header__navbar li{
        font-family: $font;
        font-weight: bold;
        background-color: $color-principal;
        border-radius: 0.5rem;
        border-width: 1rem;
        padding: 0.5rem;
        margin: 0.3rem;
        text-align: center;
    }

    .logo{
        flex-direction: column;
        justify-content: center;
        width: 310px;
        height: 110px;
        padding: 0.1rem;
        margin: 1rem;
    }

    /*main*/ 
    
    .main{
        background: rgb(255,15,123);
        background: linear-gradient(180deg, rgba(255,15,123,1) 6%, rgba(100,26,195,1) 65%, rgba(80,19,191,1) 80%);
        display: flex;
        flex-direction: column;
        padding: 0.2rem;
        flex-flow: row nowrap;
        height: 32rem;
        width: 22rem;
        justify-content: flex-start;
        padding-left: 4rem;
        margin-left: 0.3rem;
        margin-right: 1rem;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .form__textarea{
        font-family: $font;
        width: 10rem;
        padding: 1rem;
    }    
    
    .main__div__a{
        margin-right: 10rem;
        padding-left: 0.3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #FFFFFF;
        border-radius: 0.5rem;
        border-width: 1rem;
        margin-left: 3rem;
    }
    
    .main__div__a--instagram{
        height: 3rem;
    }
    
    .main__div__a--youtube{
        height: 3rem;
    }
    
    .form__button--main{
        margin-right: 10rem;
        padding-left: 0.3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 0.5rem;
        border-width: 1rem;
        margin-left: 1rem;
    }

    .img__correo{
        flex-flow: row nowrap;
        justify-content: flex-start;
        margin-right: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 5rem;
    }

    /*footer*/
    .h3__section{
        color: #FFFFFF;
        padding: 1rem;
        font-family: $font;
        text-align: center;
    }
    .iframe{
        margin-bottom: 1rem;
        width: 22rem;
    }
    .section__ubicacion{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .div{
        width: 22rem;
    }

    
}