/*variables*/
/*variables*/
.card {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF0F7B), to(#000123));
  background-image: linear-gradient(to right, #FF0F7B, #000123);
  height: 15rem;
  width: 19rem;
  padding: 0.3rem;
  border: 2px outset;
  border-radius: 10px 20px 30px 40px;
  color: #f6e0de;
  border-color: #FF0F7B;
}

/*variables*/
/*header*/
.header__navbar ul {
  padding: 2rem;
  list-style-type: none;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 2rem;
}

.header__navbar li {
  display: inline-block;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
  background-color: #FF0F7B;
  border-radius: 0.5rem;
  border-width: 1rem;
  padding: 0.5rem;
  margin: 0.3rem;
  cursor: pointer;
}

.header__navbar a {
  text-decoration: none;
  color: #FFFFFF;
  text-transform: initial;
  font-size: 1.2rem;
  background-color: #FF0F7B;
  padding: 0.5rem;
}

/*variables*/
/*footer*/
footer h3 {
  color: #f6e0de;
  padding: 1rem;
  font-family: "Chakra Petch", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer iframe {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20.6rem;
}

/*variables*/
/*extend*/
.form__button, .form__button--limpiar, .fieldset__input--btn {
  color: #000123;
  background-color: #FFFFFF;
  border: #FF0F7B;
  border-radius: 0.5rem;
  border-width: 1rem;
  padding: 0.3rem;
  font-family: "Chakra Petch", sans-serif;
  font-weight: bold;
  margin: 0.3rem;
  height: 2rem;
  cursor: pointer;
}

.fieldset__input--btn {
  color: #000123;
  background-color: #FFFFFF;
  border: #000123;
  margin: 1rem;
}

/*variables*/
/*mixin*/
/*imgs Demi Lovato x Diff Eyewear en tienda*/
.img-fluid {
  margin-right: 1rem;
  height: 30rem;
  width: auto;
  border: 2px outset;
  border-radius: 10px 20px 30px 40px;
  border-color: #FF0F7B;
}

/*index*/
.h6_demi {
  font-family: "Chakra Petch", sans-serif;
  text-align: center;
  color: #f6e0de;
  font-size: 3rem;
  margin-bottom: 2rem;
}

#div__card--index {
  margin: 1rem;
}

.card img:hover {
  border-color: #FF0F7B;
  cursor: pointer;
}

/*registro*/
.legend {
  color: #f6e0de;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  font-weight: bold;
  padding: 1rem;
  font-size: 2rem;
}

.fieldset__input nombre {
  font-family: "Chakra Petch", sans-serif;
  margin: 0.5rem;
}

.fieldset__input apellido {
  text-align: left;
  font-family: "Chakra Petch", sans-serif;
  margin: 0.5rem;
}

.fieldset__input email {
  text-align: left;
  font-family: "Chakra Petch", sans-serif;
  margin: 0.5rem;
}

.fieldset__input checkbox {
  color: #f6e0de;
  text-align: right;
  display: -ms-grid;
  display: grid;
}

.fieldset p {
  color: #f6e0de;
  text-align: right;
  font-family: "Chakra Petch", sans-serif;
  margin: 1rem;
}

.chalamet-img__registro {
  height: 20rem;
  width: 22.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*contacto*/
/*tienda*/
.img__demi__fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 1rem;
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img__demi__fluid img:hover {
  background-color: #FF0F7B;
}

.h6_demi--tienda {
  font-family: "Chakra Petch", sans-serif;
  text-align: center;
  color: #f6e0de;
  font-size: 3rem;
  margin-right: 1rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#FF0F7B), to(#000123));
  background-image: linear-gradient(to right, #FF0F7B, #000123);
}

.div__img--lentes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.div__img--lentes img:hover {
  border-color: #FF0F7B;
}

.div__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2rem;
}

.div__card .card-img-top {
  background-color: #000123;
  color: #FFFFFF;
  border: #FF0F7B;
  border-radius: 0.5rem;
  border-width: 1rem;
  padding: 0.5rem;
  font-family: "Chakra Petch", sans-serif;
  font-weight: bold;
  -webkit-animation-name: btn__btn-primary--animation;
          animation-name: btn__btn-primary--animation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  margin-bottom: 1rem;
}

.card h5 {
  color: #f6e0de;
}

.card p {
  font-family: "Chakra Petch", sans-serif;
}

.producto__destacado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 2rem;
  font-family: "Chakra Petch", sans-serif;
  color: #d4ccc9;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.producto__destacado h2 {
  color: #FF0F7B;
}

.producto__destacado img {
  height: 20rem;
  width: 23rem;
}

.btn2__primary {
  background-color: #000123;
  color: #FFFFFF;
  border: #FF0F7B;
  border-radius: 0.5rem;
  border-width: 1rem;
  padding: 0.5rem;
  font-family: "Chakra Petch", sans-serif;
  font-weight: bold;
  -webkit-animation-name: btn__btn-primary--animation;
          animation-name: btn__btn-primary--animation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.div__btn--comprar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: end;
}

.div__btn--comprar button {
  color: #FF0F7B;
  border: #FF0F7B;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-family: "Chakra Petch", sans-serif;
  font-weight: bold;
  cursor: pointer;
  -webkit-animation-name: btn__comprar-animation;
          animation-name: btn__comprar-animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#img-fluid--2 {
  margin: auto;
}

/*nosotras*/
.div__nosotras--h1yp h1 {
  color: #FF0F7B;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  font-weight: bold;
  padding: 2rem;
}

.div__nosotras div a img:hover {
  border-color: #FF0F7B;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 480px) {
  #div__card--index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2rem;
    width: 20rem;
    padding: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #div__card--index a {
    background-color: #000123;
    color: #FFFFFF;
    border: #FF0F7B;
    border-radius: 0.5rem;
    border-width: 1rem;
    padding: 0.5rem;
    font-family: "Chakra Petch", sans-serif;
    font-weight: bold;
    -webkit-animation-name: btn__btn-primary--animation;
            animation-name: btn__btn-primary--animation;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .card-body {
    padding: 1rem;
  }
  #card-uno {
    padding: auto;
    margin-bottom: 2rem;
  }
  #card-dos {
    padding: auto;
    margin-bottom: 2rem;
  }
  #card-tres {
    padding: auto;
    margin-bottom: 2rem;
  }
  .card-img-top {
    -webkit-animation-name: btn__btn-primary--animation;
            animation-name: btn__btn-primary--animation;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    width: 10rem;
    height: auto;
    background-color: #000123;
    color: #FFFFFF;
    border: #FF0F7B;
    border-radius: 0.5rem;
    border-width: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  @-webkit-keyframes card-img-top {
    0% {
      background-color: #000123;
    }
    40% {
      background-color: #FF0F7B;
    }
    100% {
      background-color: #000123;
    }
  }
  @keyframes card-img-top {
    0% {
      background-color: #000123;
    }
    40% {
      background-color: #FF0F7B;
    }
    100% {
      background-color: #000123;
    }
  }
}
/*# sourceMappingURL=style.css.map */